./lib/*
./object/*
*.o
*.lst
*.dep
*.68k
*.dis
*.elf
*.a
*~
/doc/ongoing.txt
/doc/syntax.txt
/projects/TEST/NKC68K.ROM_.S
/projects/shell/SDCARD-Analyse.txt
/projects/shell/SDCARD.bin
/projects/shell/SDCARD.img
/projects/shell/SDCARD_.bin
/projects/shell/jados.img
/projects/shell/jados.img.ReadMe.txt
