./lib/*
./object/*
*.o
*.lst
*.dep
*.68k
*.dis
*.elf
*.a
*~
/doc/ongoing.txt
/doc/syntax.txt
/projects/TEST/NKC68K.ROM_.S
/projects/shell/mkfs.fat.c
/projects/shell/SDCARD-Analyse.txt
/projects/shell/SDCARD.img
/projects/shell/jados.img
/projects/shell/jados.img.ReadMe.txt
/projects/shell/*.map
/projects/shell/*.ROM
/projects/shell/*.bin
/projects/shell/*.out
/projects/shell/*.log
/projects/boot2/*
